/* tr, th, td{
    border: 1px solid black;
} */
/* #employees{
    display: flex;
    flex-direction: row;
} */
.wrap{
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
    border: 2px solid lightslategray;
    border-radius: 15px;
    padding: 15px;
    align-items: center;
    justify-content: center;
    border-top: 5px solid brown;
}

img {
    width: 100px;
    height: 100px;
    margin: 10px;
    box-shadow: 0 0 5px black;
    border-radius: 100%;
    padding: 5px;
  }
